.python {

    &.entity,
    &.storage,
    &.keyword.control {
      font-weight: bold;
    }

    // and
    &.keyword.operator.logical {
      color: @orange;
      font-weight: bold;
    }

    // __init__
    &.function.magic {
        color: @purple;
        font-weight: normal;
    }

    // super int range
    &.function.builtin {
        color: @very-light-purple;
    }

  
    //
    // &.string {
    //     color: @green;
    // }
    //
    &.constant.numeric {
        color: @cyan;
    }
    //
    &.language {
        // self
        &.variable.self {
            color: @light-purple;
        }

        // None
        &.constant {
            font-weight: bold;
        }
    }

    &.punctuation {
        &.definition {
            &.string {
                color: @green;
            }
        }
    }
}
